
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Clon de starbucks */
header{
    display: flex;
    justify-content: center;
    /* background-color: lightsteelblue; */
    padding: 20px 0;
    border-bottom: 1px solid #bdbdbd;
}

.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
}

.header-left{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

nav{
    display: flex;
    gap: 15px;
}

.header-left nav a{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: black;
    transition-duration: .5s;
}

.header-left nav a:hover{
    color: #00754a;
}

.header-right{
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.locacion a{
    text-decoration: none;
    color: black;
    transition-duration: .5s;
}

.locacion a:hover{
color: #00754a;
}

.btn-registro{
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    background-color: black;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.btn-iniciar{
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid black;
    background-color: #fff;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

/* Practica conceptos */


.contenedor-flexible{
  display: flex; 
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  align-content: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  background-color: blueviolet;
  border: 2px solid black;
  width: 600px;
  height: 500px;
  color: white;
}

.boxy{
  display: flex;
  /* width: 50%; */
  height: 80px;
  background-color: orange;
  border: 2px solid black;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
}

.pato{
    align-self: auto;
    width: 50px;
    width: 40%;
}

.foca{
    align-self: auto;
    width: 40%;
    flex-shrink: 3;
}

/* .perro{
    align-self: auto;
    flex-grow: 1;
} */

.vaca{
    align-self: auto;
    width: 40%;
}