
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor-flexible{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* align-items: stretch; */ /* Sirve para una sola linea de contenido */
    flex-wrap: nowrap;
    align-content: flex-start; /* Sirve para mas de una linea de contenido */
    gap: 10px;

    background-color: darkorchid;
    border: 2px black solid;
    width: 600px;
    height: 500px;
    color: azure
}

.boxy{
    width: 50%;
    height: 100px;
    background-color:gold;
    border: 2px black solid;
    font-size: 2rem;
}